/* General styles for the body and HTML */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative;
}

/* Styles for the text */
.textElement {
    opacity: 0;
    transition: opacity 1s ease; /* Adjust duration as needed */
}

.quote {
    transform: translateX(50px); /* Starting position for slide-in */
    transition: transform 1s ease, opacity 1s ease; /* Synchronize duration with other texts */
}

/* Styles for the background image */
.backgroundImage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    opacity: 0;
    transition: opacity 2s ease;
}

/* Make the image visible */
#backgroundImage.visible {
    opacity: 1; /* Fully visible */
}

/* Style for suburb boundaries */
.suburb-boundary path {
    stroke-width: 3px;
    stroke-linejoin: round;
    box-shadow: 0 0 8px 3px #050216;
    filter: drop-shadow(0 0 10px #000);
}

.label.leaflet-tooltip {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
    padding: 0 !important;
    font-weight: bold !important;
    color: white !important;
    font-size: 26px !important;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.9) !important;
    z-index: 2 !important;
}

/* Animation for background image zoom in and zoom out */
@keyframes zoom {
    0%, 100% { transform: scale(1); }
    50% { transform: scale(1.15); }
}

/* Apply zoom animation with continuous loop */
.backgroundImage.visible {
    opacity: 1;
    animation: zoom 90s ease-in-out forwards infinite;
}

/* Style for the map container */
#map {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background: transparent;
    opacity: 0;
    animation: fadeIn 3s ease forwards;
    animation-delay: 3s;
    transition: opacity 3s ease;
}


/* Animation for map elements */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Style for information display */
#info {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    color: white;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.9);
    padding: 20px;
    width: 70%;
    pointer-events: none;
}

/* Styles for text elements */
#suburbName {
    font-size: 7vh;
    font-family: 'Questrial', sans-serif;
}

#personQuote {
    font-size: 4.5vh;
    font-style: italic;
    font-family: 'Quattrocento', serif;
    line-height: 1.1;
}

#personDetails, #personOccupation {
    font-size: 3.5vh;
    font-family: 'Questrial', sans-serif;
}

/* Responsive styles for smaller screens */
@media (max-width: 1450px) { /* Adjust the max-width as needed */
    #personQuote, #personDetails, #personOccupation {
        font-size: 3vh; /* Reduce the font size on smaller screens */
    }
    #suburbName {
        font-size: 5vh; /* Reduce the font size on smaller screens */
    }
}



/* Animation for text elements */
@keyframes fadeInSlide {
    to { opacity: 0.95; transform: translateX(0); }
}

/* Style for the About button */
#aboutButton {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 3; /* Above other elements */
    background-color: #ffffff;
    border: 2px solid #000;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-weight: bold;
    cursor: pointer;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
}


/* Tooltip base style */
.tooltip {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 4;
    top: 100%; /* Position below the button */
    left: 50%; /* Start from the center of the button */
    transform: translateX(-100%); /* Shift tooltip to the left */
    opacity: 0;
    font-size: 12px;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip::after {
    content: "";
    position: absolute;
    bottom: 100%; /* Arrow at the bottom of the tooltip */
    left: 90%; /* Adjust this to align the arrow as needed */
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

/* Show tooltip on hover */
#aboutButton:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

/* General style for the popup */
.popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 4; /* Above other elements */
    background-color: rgba(0, 0, 0, 0.9); /* Lightly transparent black */
    padding: 20px;
    border-radius: 5px;
    font-family: 'Questrial', sans-serif;
    font-size: 1.5vh;
}

/* Style for the popup content */
.popup-content {
    color: white;
}

/* Style for the close button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

#toggleMapButton {
    position: fixed;
    right: 20px;
    top: 80px;
    z-index: 5;
    background-color: #6eddff;
    border: 2px solid #000;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-weight: bold;
    cursor: pointer;
    font-size: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.5);
}

/* Responsive styles for smaller screens */
@media (max-width: 1450px) {
    #aboutButton, #toggleMapButton {
        width: 80px; /* Increase width */
        height: 80px; /* Increase height */
        font-size: 18px; /* Increase font size */
    }
    #toggleMapButton {
        top: 120px; /* Increase width */
    }
}