/* General styles for the body and HTML */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative;
}

/* Styles for the text */
.textElement {
    opacity: 0;
    transition: opacity 1s ease; /* Adjust duration as needed */
}

.quote {
    transform: translateX(50px); /* Starting position for slide-in */
    transition: transform 1s ease, opacity 1s ease; /* Synchronize duration with other texts */
}



/* Styles for the background image */
.backgroundImage {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    object-fit: cover;
    opacity: 0;
    transition: opacity 2s ease;
}


/* Make the image visible */
#backgroundImage.visible {
    opacity: 1; /* Fully visible */
}

/* Style for suburb boundaries */
.suburb-boundary path {
    stroke-width: 3px;
    stroke-linejoin: round;
    box-shadow: 0 0 8px 3px #050216;
    filter: drop-shadow(0 0 10px #000);
}

.label.leaflet-tooltip {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
    padding: 0 !important;
    font-weight: bold !important;
    color: white !important;
    font-size: 14px !important;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.9) !important;
    z-index: 2 !important;
}

/* Animation for background image zoom */
@keyframes zoom {
    from { transform: scale(1); }
    to { transform: scale(1.15); }
}

/* Apply zoom animation */
.backgroundImage.visible {
    opacity: 1;
    animation: zoom 45s ease forwards;
}




/* Style for the map container */
#map {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background: transparent;
    opacity: 0;
    animation: fadeIn 3s ease forwards;
    animation-delay: 3s;
    transition: opacity 3s ease;
}

/* Animation for map elements */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Style for information display */
#info {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 2;
    color: white;
    text-shadow: 3px 3px 6px rgba(0, 0, 0, 0.9);
    padding: 20px;
    width: 70%;
    pointer-events: none;
}

/* Styles for text elements */
#suburbName {
    font-size: 7vh;
    font-family: 'Questrial', sans-serif;
}

#personQuote {
    font-size: 4.5vh;
    font-style: italic;
    font-family: 'Quattrocento', serif;
    line-height: 1.1;
}

#personDetails, #personOccupation {
    font-size: 3.5vh;
    font-family: 'Questrial', sans-serif;
}

/* Animation for text elements */
@keyframes fadeInSlide {
    to { opacity: 0.95; transform: translateX(0); }
}

/* Style for the About button */
#aboutButton {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 3; /* Above other elements */
    background-color: #fff;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    font-weight: bold;
    cursor: pointer;
}

/* General style for the popup */
.popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 4; /* Above other elements */
    background-color: rgba(0, 0, 0, 0.8); /* Lightly transparent black */
    padding: 20px;
    border-radius: 5px;
}

/* Style for the popup content */
.popup-content {
    color: white;
}

/* Style for the close button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}